$font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;



html,
body {
  margin: 0;
  padding: 0;
}
* {
  margin-top: 0
}
body.light {
  --primary-color: #000000;
  --highlight-color-translucent: rgba(103, 255, 1, 0.5);
  --shadow-color-translucent: rgba(0, 0, 0, 0.3);
  --shadow-color-translucent-dark: rgba(0, 0, 0, 0.7);

  --background-opacity:1 ;
  --title-text: #10072b;
  --primary-color-translucent: rgba(255, 255, 255, 0);
  --primary-text-color: #18122b;;
  --featured-bg: #a600ff;
  --featured-text: #fff;
  --secondary-color: #10072b;
  --background: #fff;
  --site-header: var(--background);
  --card-bg: #fff;
  --card-outline: rgba(0, 0, 0, .1);

  --card-bdr: #eee;
  --card-shadow: #d5d5d5;
  --btn-bg: var(--background);
  --btn-bdr: #d3d6e7;
  --btn-text-color: #868892;
  --btn-hover-bg: var(--btn-bdr);
  --btn-hover-text-color: #00062b;
  --contact-bg: #f7f8fe;
  --contact-bdr: #d3d6e7;
  --input-bg: var(--background);
}
body.dark {
  --background-opacity:.4 ;

  --card-outline: rgb(4, 130, 255);
  --primary-color: rgba(250,250,250, 0);
  --shadow-color-translucent: rgba(0, 0, 0, 0.9);
  --primary-color-translucent: rgba(217, 214, 255, 0);
  --highlight-color-translucent:  rgb(4, 130, 255);
  --card-outline: rgba(255, 255, 255, .2);
  --title-text: #000;
  --primary-text-color: #fff;
  --featured-bg:  rgb(4, 130, 255);
  --featured-text: #fff;
  --secondary-color: #66578d;
  --background: rgb(19, 17, 34);
  --text-color: rgba(255,255,255,0.88);
  --text-secondary-color: rgba(255,255,255,0.66);
  --site-header: var(--background);
  --card-bg: #181326;
  --card-bdr: #181326;
  --card-shadow: #020204;
  --btn-bg: var(--background);
  --btn-bdr: #d3d6e7;
  --btn-text-color: #868892;
  --btn-hover-bg: var(--btn-bdr);
  --btn-hover-text-color: #00062b;
  --contact-bg: var(--card-shadow);
  --contact-bdr: var(--card-bg);
  --input-bg: var(--card-bg);
}

.site-logo {
  font-weight: 900;
  font-size: 20px;

}

.btn {
  font-family: Arial;
  color: var(--primary-text-color);
  font-size: 1em;
  padding: 7px;
  margin: 10px;
  margin-right:10px;
  margin-left:0px;
  text-decoration: none;
  background-color: rgba(0,0,0,.0);
  cursor: pointer;
  border: none;
  box-shadow: 3px 3px 12px rgba(0,0,0,.3);

}

.btn-selected{
border-bottom: 2px solid var(--primary-color);
}




.btn:hover {
  // text-decoration: none;
  // border-bottom:#848484 solid 1px;
  // box-shadow: 6px 6px 20px  rgba(0,0,0,.4);
  color: white;
  background-color: rgba(0,0,0,.7);
  // zoom: 1.01;
  // transition: zoom .5s;
  // background-color: white;
  transition: box-shadow .5s;
  transition: background-color .5s;

}

iframe{
  overflow:hidden!important;
}
/* System Fonts as used by Medium and WordPress */
body {
  font-family: $font-family;
  // border-top: 10px solid var(--primary-color);
  background-color: var(--background);
  color: var(--text-color);
}
a {
  color: var(--primary-color);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.site-content {
  max-width:100%;
  padding: 5% 5% 5% 5%;
}
.site-wrapper {
  // padding: 32px;
  max-width: 1140px;
  margin: 0 auto;

  }


//   .post-color-bar{
// width: 100%;
// height: 5px;
//   }
.img-container{
  // height: 100vh;
  // object-fit: cover;
  overflow: hidden;

}
.preview-img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  // transition: width .5s;
  // transition: height .5s;


}
// Embedded svg background
.background-div{
  opacity: var(--background-opacity)
}


.background-div{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
  overflow: hidden;
}


.veroni-background{
  width: 100%;
  height: auto;
  background-color: red;
}

.navigation {
  display: flex;
  align-items: center;
  font-weight: 300;
  a {
    color: #888;
    text-decoration: none;
    margin: 0 8px 0;
    &[aria-current] {
      color: var(--primary-color);
      font-weight: 700;
    }
    &:hover {
      color: var(--primary-color);
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.site-header {
  display: flex;
  justify-content: space-between;
  padding: 0px 0;
  align-items: center;
}

.blog-post-content{
  padding: 10px;
  font-size: 18px;
}

.next-previous-container{
  position: absolute ;
  margin: -20px;
  height: 100px;
  z-index: 3000;
  width: 90%;
  font-size: 50px;
  color: var(--featured-text);
}



.right-float{
  float: right;
}

.left-float{
  float: left;
  margin-left: 20px;

}
.right-float

// .post-title :hover, .post-meta :hover{
//   color: var(--secondary-color);
//   }

.hero-header {
  // padding: 0 0 64px;
  max-width: 980px;
}
.headline {
  font-size: 5em;
  font-weight: 900;
  margin-bottom: 0.5rem;
}

.about{
  margin-left: 10%;
}


.btn:hover{
  // color:var(--background);
  // background-color: var(--shadow-color-translucent)
}
// .button {
//   padding: 18px 27px;
//   display: inline-block;
//   background: var(--btn-bg);
//   border: 1px solid var(--btn-bdr);
//   border-radius: 0px;
//   text-decoration: none;
//   color: var(--btn-text-color);
//   font-size: 16px;
//   font-weight: 400;
//   margin: 0 20px 0 0;
//   transition: background-color .3s linear;
//   &.-primary {
//     background-color: var(--primary-color);
//     border-color: var(--primary-color);
//     color: var(--primary-text-color);
//     &:hover {
//       background-color: var(--secondary-color);
//       color: var(--primary-text-color);
//       text-decoration: none;
//     }
//   }
//   &:hover {
//     background-color: var(--btn-hover-bg);
//     color: var(--btn-hover-text-color);
//   }
// }
.primary-content {
  font-size: 18px;
  margin-bottom: 5vh;
  line-height: 1.5;
  font-weight: 300;
}

.hero-button-group{
  font-size: 18px;
  margin-bottom: 5vh;
  line-height: 1.5;
  font-weight: 300;
}

.post {
  border: solid 1px var(--card-outline);
  background:var(--primary-color-translucent);
  box-shadow: 4px 5px 15px var(--shadow-color-translucent);
  color: var(--text-color);
  line-height: 1.5;
  > .blog-post-content {
    max-width: 768px;
    margin: 0 auto;
  }
  > .blog-post-content *:last-child,
  > *:last-child {
    margin-bottom: 0;
  }
  .post-title {
    text-align: center;
    margin: 0 0 0.5rem;
    line-height: 1.3;
    font-size: 2rem;
    max-width: 100%;
    padding-left: 8%;
    padding-right: 8%;

  }
  .post-meta {
    // margin-bottom: 32px;
    text-align: center;
  }

}

.page {
  background-color: var(--primary-color-translucent);
  box-shadow: 4px 5px 15px var(--shadow-color-translucent);


}
.post-thumbnail {
  text-align: center;
  min-height: 180px;
  // background-color: var(--featured-bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // border-radius: 0px;
  // margin-bottom: 36px;
  color: var(--featured-text);
  display: grid;
  align-content: center;
  position: relative;
  padding: 18px;
  overflow: hidden;
  &:before {
    content: "";
    background: rgba(0,0,0,0.0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  > * {
    position: relative;
    z-index: 2;
  }
  .post-meta {
    // color: rgba(255,255,255,0.8);
    // color: black;
    // margin-bottom: 0;
  }
}
.grids {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 32px;
  margin-top: 32px;
}

.card-container .card{

  // outline: solid 1px var(--primary-color);

  transition: outline .5s;

}



.post-preview-text-container {
  background-color: var(--primary-color-translucent);

}

.post-preview-text-container {
  padding: 10px;

}
.post-title, .post-meta{
color: var(--primary-text-color);
}

.card-container:hover .post-preview-text-container{
  background-color: var(--highlight-color-translucent);
  transition: background-color .5s;
  text-decoration: none;

// color: var(--secondary-color)
}


.card-container:hover a{
text-decoration: none;

}



.card-container:hover .post-link{
  color: var(--primary-text-color);
  text-decoration: none;

  }


.card {
  box-shadow: 4px 5px 15px var(--shadow-color-translucent);
  color: var(--primary-text-color);
  }

  .card:hover {
    text-decoration: none;

    // outline: solid 1px var(--primary-text-color);
    box-shadow: 6px 6px 20px  rgba(0,0,0,.8);
    transition: box-shadow .5s;
    transition: background-color .4s;


  }

  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }

  .card {
    animation: fadeIn linear .5s;

  }

  .post img{
    width: 100%;
  }

  .post iframe{
    width: 100%;
  }


.card-container:hover .post-meta{
color: var(--primary-text-color);
color: black

}


.card-container:hover .post-title{
color: var(--primary-text-color)
  }

  .card-container:hover .post-link {
    color: black
      }

.img-container{
  // overflow: h idden;
}

.card-container:hover img{
  filter: contrast(120%);
  transform: scale(1.2);
opacity: 100%;
transition: transform .5s;
object-fit: cover;
}

// }
.card {
  outline: solid 0px var(--card-outline);
  display: grid;
  margin-right: 20px;
  margin-bottom: 20px;
  // border: 1px solid var(--card-outline);

  // background-color: rgba(0,0,0,.5);
  border-radius: 0px;
  // background-color: var(--primary-color-translucent);
  // outline: solid 5px var(--primary-color-translucent);


  // border: 10px solid var(--card-bdr);
  // box-shadow: 0 0 30px var(--card-shadow);
  // overflow: hidden;
  line-height: 1.5;
  &:hover .post-link {
    // color: var(--primary-color);
  }
  > a img {
    display: block;
    width:100%;
  }

  > header {
    padding: 0px;
  }
  > h2:first-child {
    margin: 0 0 0.5rem 0;
  }
  .post-title {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }
  .post-meta {
    font-weight: 100;
    margin-bottom: 0;
  }
  .post-link {
    color: var(--text-color);
    text-decoration: none;
  }
}
// .post-meta {
//   font-size: 0.8rem;
//   color: var(--text-secondary-color);
// }
.site-footer {
  text-align: center;
  margin: 90px 0 16px;
  color: #fff;
  font-weight: 700;
  background-color: rgba(0,0,0,.5);

  // a {
  //   font-weight: 700;
  // }
}

//typeon
.sub-title{
font-size: 30px;
min-height: 90px;

}

//////

.form-container {
  background-color: var(--contact-bg);
  padding: 32px;
  border: 1px solid var(--contact-bdr);
  border-radius: 9px;
  label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--text-secondary-color);
  }
  input[type=text],
  input[type=email],
  textarea {
    appearance: none;
    // border: 1px solid var(--card-shadow);
    color: var(--text-secondary-color);
    border-radius: 6px;
    line-height: 32px;
    padding: 6px 12px;
    width: calc(100% - 24px);
    margin-bottom: 1.5rem;
    background-color: var(--input-bg);
    font-family: $font-family;
  }
  textarea {
    margin-bottom: 2rem;
    height: 150px;
  }
}
.two-grids {
  display: grid;
  grid-gap: 0px;
  &.-contact {
    .post-thumbnail {
      // min-height: 240px !important;
    }
  }
}
/* Portrait and Landscape */
@media only screen
and (min-width: 768px) {
.grids {
  grid-template-columns: 1fr 1fr;
}
}
@media only screen
  and (min-width: 1024px) {
  .grids {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .two-grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 64px;
  }
}


// theme-changer
.theme-changer {
  display: none;
}
body.dark {
  .gg-moon {
    display: none;
  }
}
body.light {
  .gg-sun {
    display: none;
  }
}
.mode-container {
  width: 24px;
  height: 24px;
  margin-left: 20px;
}
// CSS.gg icons for sun and moon
.gg-sun {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 24px;
  height: 24px;
  background:
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 5px -6px/2px 6px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 5px 14px/2px 6px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat -8px 5px/6px 2px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 14px 5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent
}
.gg-sun::after,
.gg-sun::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px
}
.gg-sun::before {
  transform: rotate(-45deg)
}
.gg-sun::after {
  transform: rotate(45deg)
}
.gg-moon,
.gg-moon::after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%
}
.gg-moon {
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom-color: transparent
}
.gg-moon::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px
}


// .backround-div {
// 	// position: absolute;
// 	// background-image: url('https://ryezzz.github.io/information-aesthetics/nycmapdensity/map2.svg');
// 	// background-size: 300%;
//   // z-index: -2;
// }


.gg-moon::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px
}


.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: 0px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  // padding-right: 5px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  // margin-bottom: 10px;
}
